.button {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: auto;
  max-width: 100%;
  height: var(--button-height);
  padding: 0 var(--button-space);
  margin: initial;
  box-sizing: border-box;
  
  border-radius: var(--control-radius);
  border: none;
  background: transparent;
  
  font-weight: normal;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* font-family: var(--font-sans); */
  font-size: var(--button-font-size);
  line-height: var(--button-height);
  text-decoration: none;

  transition: background 0.2s ease, box-shadow 0.2s ease, color 0.2s ease, fill 0.2s ease;
  appearance: none;
  cursor: pointer;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    border-radius: var(--control-radius);
  }

  &:focus {
    /* outline-offset: 2px; */

    /* outline: 2px solid var(--color-control-bg-border-focus); */
    outline: none;
    box-shadow: 0 0 3px 2px var(--color-control-bg-border-focus);
  }

  &_form_brick {
    border-radius: 0;
    &::before {
      border-radius: 0;
    }
  }

  &_form_round::before {
    border-radius: 999rem;
  }

  &_form_brick-default {
    border-radius: 0 var(--control-radius) var(--control-radius) 0;
    &::before {
      border-radius: 0 var(--control-radius) var(--control-radius) 0;
    }
  }

  &_form_default-brick {
    border-radius: var(--control-radius) 0 0 var(--control-radius);
    &::before {
      border-radius: var(--control-radius) 0 0 var(--control-radius);
    }
  }

  &_form_brick-round {
    border-radius: 0 99em 99em 0;
    &::before {
      border-radius: 0 99em 99em 0;
    }
  }

  &_form_round-brick {
    border-radius: 99em 0 0 99em;
    &::before {
      border-radius: 99em 0 0 99em;
    }
  }

  &_size_s {
    --button-height: var(--control-button-size-s);
    --button-font-size: var(--control-size-s, 13px); /* TODO Удалить перед мёрджем */
    --button-space: var(--control-space-s);
  }

  &_size_m {
    --button-height: var(--control-button-size-m);
    --button-font-size: var(--control-size-m, 15px); /* TODO Удалить перед мёрджем */
    --button-space: var(--control-space-m);
  }

  &_size_l {
    --button-height: var(--control-button-size-l);
    --button-font-size: var(--control-size-l, 18px); /* TODO Удалить перед мёрджем */
    --button-space: var(--control-space-l);
  }

  &_size_xl {
    --button-height: var(--control-button-size-xl);
    --button-font-size: var(--control-size-xl, 21px); /* TODO Удалить перед мёрджем */
    --button-space: var(--control-space-xl);
  }

  &_view_clear {
    color: var(--color-control-typo-secondary);

    &::before {
      background-color: var(--color-control-bg-clear);
      transition: background-color 0.15s;
    }

    &:hover {
      color: var(--color-control-typo-primary);
    }
    &:hover&::before {
      background-color: var(--color-control-bg-clear-hover);
    }
    &:active&::before {
      background-color: var(--color-control-bg-clear-press);
    }
  }

  &_view_ghost {
    color: var(--color-control-typo-primary);

    &::before {
      background-color: var(--color-control-bg-default);
      transition: background-color 0.15s;
    }

    &:hover&::before {
      background-color: var(--color-control-bg-default-hover);
    }
    &:active&::before {
      background-color: var(--color-control-bg-default-press);
    }
  }

  &_view_primary {
    color: var(--color-control-typo-affect);

    &::before {
      background-color: var(--color-control-bg-action);
      transition: background-color 0.15s;
    }

    &:hover&::before {
      background-color: var(--color-control-bg-action-hover);
    }
    &:active&::before {
      background-color: var(--color-control-bg-action-press);
    }
  }

  &_view_secondary {
    color: var(--color-control-typo-action);

    &::before {
      background-color: var(--color-control-bg-default);
      border: var(--control-border-width) solid var(--color-control-bg-border-action);
      transition: box-shadow 0.15s, background-color 0.15s, color 0.15s;
    }

    &:hover&::before {
      border: var(--control-border-width) solid var(--color-control-bg-border-action-hover);
      background-color: var(--color-control-bg-default-hover);
      color: var(--color-control-typo-action-hover);
    }
    &:active&::before {
      border: var(--control-border-width) solid var(--color-control-bg-border-action-press);
    }
  }

  &_width_full {
    width: 100%;
  }
}