.scenario-event {
	display: block;
	min-height: 180px;
	margin-bottom: var(--space-m);
	border-radius: var(--space-xs);
	background: var(--color-bg-default);
	text-decoration: none;
	box-shadow:
		0 2px 2px rgba(var(--color-nums-shadow), 0.04),
		0 4px 16px rgba(var(--color-nums-shadow), 0.18);
	transition: box-shadow .3s, transform .2s;

	&__title {
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		transition: color .2s;
	}

	&__arrow {
		opacity: 0;
		transform: translateX(calc(var(--space-xs) * -1));
		transition: transform .3s, opacity .2s;
	}

	&:hover {
		cursor: pointer;
		box-shadow:
			0 2px 4px rgba(var(--color-nums-shadow), 0.08),
			0 12px 22px -8px rgba(var(--color-nums-shadow), 0.32);
		transform: translateY(calc(var(--space-2xs) * -1));

		.scenario-event__title {
			color: var(--color-link);
		}
		.scenario-event__arrow {
			opacity: 1;
			transform: translateX(0);
		}
	}
}
