.main-page__scenario-events {
	transition: transform .32s ease-in, opacity .01s;
	transition-delay: .24s;
	transform-origin: center left;

	.scenario-event {
		opacity: 0;
		transform: translateY(var(--space-l));
		pointer-events: none;
		visibility: hidden;
	}

	&_show-list.main-page__scenario-events_animated {

		.scenario-event {
			opacity: 1;
			transform: translateY(0);
			transition: opacity .4s, transform .4s;
			transition-delay: 1.32s;

			&:nth-last-child(1) {transition-delay: 1.44s;}
			&:nth-last-child(2) {transition-delay: 1.40s;}
			&:nth-last-child(3) {transition-delay: 1.36s;}
		}
	}

	&_show-list {

		.scenario-event {
			opacity: 1;
			transform: translateY(0);
			pointer-events: auto;
			visibility: visible;
		}
	}
}
